// 設定filter bar(外殼)的樣式
.filtbar{
  background-color: white;
  box-shadow: 0px 1px 5px rgba(220, 215, 213, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 300;
  left: 0;
  right: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 10;
}

// 設定搜尋欄位的位置
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

// 設定放大鏡icon的樣式
.search-wrapper .material-symbols-outlined {
  position: absolute;
  left: 8px;
  color: #9a95a1;
  pointer-events: none; /* 讓點擊穿透到 input */
}

// 設定搜尋欄位的樣式
.search-wrapper input {
  padding-left: 35px;
  height: 32px;
  border: transparent;
  border-radius: 10px;
  background-color: #F4F3FB;
  color: #9A95A1;
}

// 調整input date樣式
input[type="date"] {
  // 清除預設樣式
  appearance: none;
  border: none;
  border-bottom: none;
  padding: 6px 14px;

  // 新增自訂樣式
  background: #F4F3FB;
  color: #9A95A1;
  border-radius: 1000px;
  margin: 8px;
}

// 游標靠近日曆icon時，變成手指
input[type="date"]:hover{
  cursor: pointer;
}

// input[type="date"]:focus {
//   outline: none;
//   border-bottom: 2px solid #3f51b5;
// }

//調整date filter的整體排版和色彩
.choosedate{
  display: flex;
  color: #9A95A1;
  font-size: clamp(5px, 8vw, 12px);
}
// debug code of date filter
// .theday{
//   background-color: aqua;
//   margin-right: 16px;
// }


//底下大layout
.listcontent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FEF8E0;
  padding-top: 50px;
}
.questionlist{
  background-color: white;
  width: 80vw;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 25px;

  display: grid;
  grid-template-columns: 80px minmax(200px, 400px) 120px 120px 200px;
  align-items: center;
  text-align: center;   // 讓每個欄位置中
}

.data{
  margin: 1rem;
  align-items: center;
}

.datatitle{
  color: #443D4F;
  font-weight: 600;
}

.dataid{
  color: #9A95A1;
  font-weight: 500;
}

.datadate{
  color: #9A95A1;
}

#startbut{
  width: 100px;
  padding: 1rem;
  border: transparent;
  border-radius: 999px;
  background-color: #857FD2;
  color: white;
}

#startbut:hover{
  background-color: #a6a1f3;
  cursor: pointer;
}

#donebut{
  width: 150px;
  padding: 1rem;
  border: #86E2A5 solid 2px;
  border-radius: 999px;
  background-color: #ECFEF2;
  color: #86E2A5;
  font-weight: 600;
}

#donebut:hover{
  background-color: #86E2A5;
  color: white;
  cursor: pointer;
}

#unavaliablebut{
  width: 150px;
  padding: 1rem;
  border: transparent;
  border-radius: 999px;
  background-color: transparent;
  color: #C9C9C9;
  font-weight: 600;
}

#unavaliablebut:hover{
  cursor: no-drop;
}


button:active {
  transform: translateX(1px) translateY(2px);
}


